.root {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 0.5rem;
  text-align: center;
  margin-top: 3rem;

  h1 {
    text-align: center;
  }
}

.languagesContainer {
  background-color: #f8f8f8;
}
