.root {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 0.5rem;
  text-align: center;
  margin-top: 3rem;
}

.flag {
  height: 8rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
}

.languagesContainer {
  background-color: #fff;
  margin-top: 2rem;
  margin-inline: auto;
  padding: 2rem;
  width: fit-content;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;

  ul {
    list-style-type: none;
    padding: 0;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-width: 15em;
    -moz-column-width: 15em;
    column-width: 15em;

    li {
      font-size: 1.6rem;

      a:hover {
        text-decoration: none;
      }
    }

    * + * {
      margin-top: 3rem;
    }
  }
}

.backLinkContainer {
  margin: 3rem 0;
}
