.root {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 0.5rem;
  text-align: center;
  margin-top: 3rem;
}

.flag {
  height: 8rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
}

.languagesContainer {
  background-color: #f8f8f8;
  padding: 0.5rem 0;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      font-size: 1.6rem;
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    * + * {
      margin-top: 1.5rem;
    }
  }
}

.backLinkContainer {
  margin: 2rem 0;
}
