.container {
  min-height: 90vh;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }
}

.footer {
  margin-top: 2rem;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    margin-left: 0.5rem;
  }
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.searchInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  padding: 1rem;
  background-color: var(--color-paper);
  box-shadow: var(--elevation-1);
  border-radius: 4px;

  & input:hover,
  input:focus {
    outline: 1px solid #777;
  }

  & svg {
    height: 2.5rem;
    margin-right: 0.5rem;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.countryLink {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;

    .flag {
      box-shadow: 0 2px 12px 6px rgba(0, 0, 0, 0.3);
    }
  }
}

.flag {
  margin: 8px 8px 0 8px;
  height: 96px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .flag {
      height: 54px;
    }
}
