.container {
  min-height: 90vh;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }
}

.footer {
  margin-top: 2rem;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    margin-left: 0.5rem;
  }
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.flag {
  margin: 0.5rem;
  height: 6rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1);
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 12px 6px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .flag {
    height: 2.7rem;
  }
}
