.nav {
  max-width: 1060px;
  padding: 0 0.5rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.bannerContainer {
  &:hover {
    cursor: pointer;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }
}
