.suggestionLabel {
  font-size: 0.75rem;
  color: #777;
  transform: translateY(16px);
}

.suggestionName {
  margin: 4px 0;
  font-size: 1.1rem;
}

.suggestionScript {
  margin: 4px 0;
  font-size: 1.05rem;
  color: #777;
}

.countryContent {
  display: flex;
  align-items: center;

  img {
    height: 1.3rem;
    margin-right: 0.5rem;
    margin-left: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  }
}

.languagelink {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

.languageIcon {
  height: 1.7rem;
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
}
